---
title: Project
permalink: /aa274_aut1920/project.html
group: "aa274_aut1920_navigation"
order: 3
---
<!DOCTYPE html>
<html>
{% include aa274_aut1920_head.html %}
<body id="page-top" class="index">
  {% include aa274_aut1920_navbar.html %}
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Course Project</h1>
        </div>
      </div>
      <div class="row text-center">
        <img id="aa274-banner-image" src="/img/aa274_aut1920/food_delivery.png">
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Description</h3> 
          <p>The final project will be based on Autonomous Food Delivery! You will be expected to (1) explore an unknown environment and locate all the food vendors around the city, then (2) given a food request from your hungry TAs, your robot will need to <strong>autonomously</strong> pick up the food and deliver it back to the home base. Look at <a href="https://docs.google.com/presentation/d/12oEEpsLMGNjE3li5KTXC8VYAs9jqvhObLwFUbp21fDU/edit?usp=sharing">this slide deck</a> for details about the deliverables, baselines, extensions and rubric. Use your Stanford login to access the document.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>Logistics</h3> 
          <p>Information about using the Skilling room will soon be posted.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>Code (starting point)</h3> 
          <p>A starting point for your autonomy stack can be found in the <a href="https://github.com/StanfordASL/asl_turtlebot">asl_turtlebot</a> repo. This code is merely a starting point and is no means complete. Please read the README for brief descriptions and disclaimers about the code.</p> 
        </div>
      </div>

    </div>
  </header>
  {% include javascript.html %}
  {% include footer.html %}
</body>
</html>