---
title: Announcements
permalink: /aa274a/announcements.html
group: "aa274a_navigation"
order: 4
---
<!DOCTYPE html>
<html>
{% include aa274a_head.html %}
<body id="page-top" class="index">
  {% include aa274a_navbar.html %}
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Announcements</h1>
          <p>Announcements related to the course, homeworks, projects, logistics, etc will be posted here. Please check this page regularly for the latest announcements.</p>
        </div>
      </div>
      {% assign sorted_anncmts = (site.aa274a | where:'md_group', "announcements" | sort: 'date') | reverse %}
      {% for anncmt in sorted_anncmts %}
      <hr />
      <div class="row">
        <div class="col-md-12">
          <h5>{{anncmt.date | date: "%m/%d/%Y" }}</h5>
          <p>{{ anncmt.content }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    </header>
    {% include javascript.html %}
    {% include footer.html %}
</body>
</html>
 
