---
title: 404
---
<!DOCTYPE html>
<html>
{% include head.html %}
  <body id="page-top" class="index">
    {% include navbar.html %}
    <header>
      <div class="container">
        <div class="row">
        <div class="col-md-12">
        <img id="Chairman" src={{site.url}}{{site.baseurl}}/img/GreatLeaderY.svg alt="Chairman Marco" style="height: 100vh; margin-right: auto; margin-left: auto;">
        </div>
      </div>
      </div>
    </header>
    {% include javascript.html %}
    {% include footer.html %}
    <script src="{{site.url}}{{site.baseurl}}/js/GreatLeaderSelector.js"></script>
  </body>
</html>