---
title: Code
permalink: /code/
---
<!DOCTYPE html>
<html>
{% include head.html %}
  <body id="page-top" class="index">
    {% include navbar.html %}
    <header>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Code</h1>
          </div>
        </div>
        <div class="row">
        <div class="col-md-12">
        <img src={{site.url}}{{site.baseurl}}/img/GreatLeaderY.svg alt="Chairman Marco">
        </div>
      </div>
      </div>
    </header>
    {% include javascript.html %}
    {% include footer.html %}
  </body>
</html>