---
title: Contact
permalink: /contact/
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body id="page-top" class="index">
  {% include navbar.html %}
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Contact</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-12">
              <p><b>Autonomous Systems Laboratory</b></p>
              <p>Stanford University</p>
              <p>Department of Aeronautics & Astronautics</p>
              <p>William F. Durand Building, Rm. 009</p>
              <p>496 Lomita Mall</p>
              <p>Stanford, CA 94305-4035</p>
              <hr />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h1>Directions</h1>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="map-responsive">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3168.4220903314895!2d-122.17454608469227!3d37.42713237982424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fbb2a83be32f1%3A0x48efc5aee5c8f3e9!2s496+Lomita+Mall%2C+Stanford%2C+CA+94305!5e0!3m2!1sen!2sus!4v1489536877239" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h3>From U.S. 101</h3>
          <ul class="list-group list-group-flush">
            <li class="list-group-item first-child">Take exit to Page Mill Rd/Oregon Expressway</li>
            <li class="list-group-item">Turn right on El Camino Real</li>
            <li class="list-group-item">Take a left onto Palm Dr</li>
            <li class="list-group-item">Take right onto Campus Drive</li>
            <li class="list-group-item">Continue to Panama St and take a left</li>
            <li class="list-group-item last-child">Parking Structure 2 will be on your left; Durand will be on your left two blocks further down the road.</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h3>From U.S. 280</h3>
          <ul class="list-group list-group-flush">
            <li class="list-group-item first-child">Take exit to Sand Hill Rd</li>
            <li class="list-group-item">Turn left onto Alpine Rd</li>
            <li class="list-group-item">Take first left onto Junipero Serra Blvd</li>
            <li class="list-group-item">Follow to Campus Drive, take a left</li>
            <li class="list-group-item">Take right onto Panama St.</li>
            <li class="list-group-item last-child">Parking Structure 2 will be on your left; Durand will be on your left two blocks further down the road.</li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  {% include javascript.html %}
  {% include footer.html %}
</body>
</html>