---
title: People
permalink: /people/
group: "navigation"
order: 4
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  {% include relBase.html %}
  <body id="page-top" class="index">
    {% include navbar.html %}
      <header>
      <div class="blue-stripe" style="height: 80px; margin-bottom: 40px;">
        <div class="container">
          <div class="row">
      	    <div class="col-sm-12">
              <h1 class="white-text"><b>Director</b></h1>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
          <div class="row person-row">
          {% assign sortedPeople = site.people | sort: 'last' %}
          {% for person in sortedPeople %}{% if person.position == "faculty" %}
            <div class="col-sm-4">
              <a href={{person.url}}><img class="img-responsive" src="{{ relBase }}{{person.imgurl}}{{ person.img}}" alt="{{ person.title }}" ></a>
            </div>
            <div class="col-sm-8">
              <h3 style="margin-top: 0px;">{{ person.title }}</h3>
              <hr class="person-sep">
              <div class="person-excerpt">{{ person.content }}</div>
            </div>
          {% endif %}{% endfor %}
        </div>
      </div>

        <div class="blue-stripe" style="height: 80px; margin-top: 20px; margin-bottom: 40px;">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h1 class="white-text"><b>Research Team</b></h1>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
        {% assign loopindex = 0 %}
        {% for person in sortedPeople %}{% if person.position == "postdoc" or person.position == "phd" %}   
          {% assign loopindex = loopindex | plus: 1 %}
          {% assign rowfinder = loopindex | modulo: 4 %}
          {% if rowfinder == 1 %}
          <div class="row person-row">
          {% endif %}
            <div class="col-3 col-sm-3 col-md-3">
              <a href={{person.url}}><img class="img-responsive img-resize" src="{{ relBase }}{{person.imgurl}}{{ person.img}}" alt="{{ person.title }}"></a>
              <h6 class="person-name">{{ person.title }}</h6>
              {% if person.position == "postdoc" %}
              <p class="person-position">Postdoctoral Scholar</p>
              {% elsif person.position == "phd" %}
              <p class="person-position">PhD Student</p>
              {% endif %}
              <hr class="person-sep">
              <p class="person-excerpt">{{ person.excerpt }}</p>
            </div>
          {% if rowfinder == 0 %}
          </div>
          {% endif %}
        {% endif %}{% endfor %}
        {% if rowfinder != 0 %}
          <!-- In case the last row has < 4 people. -->
          </div>
        {% endif %}
        </div>

        <div class="blue-stripe" style="height: 80px; margin-bottom: 40px;">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h1 class="white-text"><b>Alumni</b></h1>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
        {% assign loopindex = 0 %}
        {% for person in sortedPeople %}{% if person.position == "alumni" %}   
          {% assign loopindex = loopindex | plus: 1 %}
          {% assign rowfinder = loopindex | modulo: 4 %}
          {% if rowfinder == 1 %}
          <div class="row person-row">
          {% endif %}
            <div class="col-3 col-sm-3 col-md-3">
              <a href={{person.url}}><img class="img-responsive img-resize alumni-img" src="{{ relBase }}{{person.imgurl}}{{ person.img}}" alt="{{ person.title }}"></a>
              <h6 class="person-name">{{ person.title }}</h6>
              <hr class="person-sep">
              <p class="person-position">{{ person.current }}</p>
              <!-- <p class="person-excerpt">{{ person.excerpt }}</p> -->
            </div>
          {% if rowfinder == 0 %}
          </div>
          {% endif %}
        {% endif %}{% endfor %}
        {% if rowfinder != 0 %}
          <!-- In case the last row has < 4 people. -->
          </div>
        {% endif %}
      </div>

      <div class="blue-stripe" style="margin-bottom: 25px;">
        <div class="container">
          <div class="row" style="padding-bottom: 10.4px;">
            <div class="col-sm-12">
              <h1 class="white-text"><b>Visiting Faculty, Scholars, and Students</b></h1>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            {% for person in sortedPeople %}{% if person.position == "visiting" %}
              {{ person.content }}
            {% endif %}{% endfor %}
          </div>
        </div>
      </div>
    </header>
    {% include javascript.html %}
    {% include footer.html %}
  </body>
</html>