---
title: In the Press
permalink: /press/
---
<!DOCTYPE html>
<html>
{% include head.html %}
{% include relBase.html %}
<body id="page-top" class="index">
  {% include navbar.html %}
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>In the Press</h1>
        </div>
      </div>
      {% assign sorted = (site.press | sort: 'date') | reverse %}
      {% for release in sorted %}
      {% if forloop.index0 > 0 %}
      <hr />
      {% endif %}
      <div class="row centered-contents">
        <div class="col-md-4 hide-on-mobile">
          <a href={{release.source_url}}><img class="img-responsive" src="{{ relBase }}{{release.imgurl}}{{release.img}}" alt="{{ release.alt_text }}"></a>
        </div>
        <div class="col-md-8">
          <h4><b><a href={{release.source_url}}>{{release.title}}</a></b></h4>
          <h6>{{release.date | date: "%B %d, %Y"}}</h6>
          {{ release.content}}
        </div>
      </div>
      {% endfor %}
    </div>
  </header>
  {% include javascript.html %}
  {% include footer.html %}
</body>
</html>