---
title: Projects
permalink: /projects/
group: "navigation"
order: 2
---
<!DOCTYPE html>
<html>
{% include head.html %}
{% include relBase.html %}
<body id="page-top" class="index">
  {% include navbar.html %}
  <header>
    <div class="blue-stripe">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <img src="{{site.baseurl}}/img/projects/Strip_1_1000x500.jpg" alt="">
            <p class="carousel-overtext"><span>We use theoretical insights to devise practical, computationally-efficient, and provably-correct algorithms for field deployment.</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row" style="margin-top: 40px; margin-bottom: 30px;">
        <div class="col-md-12">
          <!-- Introduction -->
          {% for project in site.projects %}
            {% if project.class == "Intro" %}
              <h1 id='title'>{{ project.title }}</h1>
              {{ project.content }}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- Main Projects -->
    {% assign loopindex = 0 %}
    {% assign colorindex = 0 %}
    {% assign sortedProjects = site.projects | sort: 'date' | reverse %}
    {% for project in sortedProjects %}
    {% if project.class == "core" %}
      {% assign loopindex = loopindex | plus: 1 %}
      {% assign rowfinder = loopindex | modulo: 2 %}
        {% if rowfinder == 1 %}
          {% assign blue_stripe = colorindex | modulo: 2 %}
          {% if blue_stripe == 0%}
          <div class="blue-stripe">
          {% else %}
          <div class="white-stripe">
          {% endif %}
          <div class="container">
          <div class="row">
        {% endif %}
        {% if rowfinder == 1 %}
        <div class="col-6 col-sm-6 col-xs-12 project-col-l">
        {% else %}
        <div class="col-6 col-sm-6 col-xs-12 project-col-r">
        {% endif %}
          <a href={{project.url}}><img class="img-responsive project-img" src="{{ relBase }}{{project.imgurl}}{{project.img}}" alt="{{ project.excerpt }}"></a>
          <p class="project-title"><a href={{project.url}}><span>{{ project.title }}</span></a></p>
        </div>
        {% if rowfinder == 0 %}
        {% assign colorindex = colorindex | plus: 1 %}
        </div>
        </div>
        </div>
        {% endif %}
      {% endif %}
      {% endfor %}
      {% if rowfinder != 0 %}
      <!-- In case the last row has < 2 projects. -->
      </div>
      </div>
      </div>
      {% endif %}
</header>
{% include javascript.html %}
<script>
$(".bibliography").remove("h3");
$("ol.bibliography > li").unwrap();

var $set = $('div.project_bib > li');    
for(var i=0, len = $set.length; i < len; i+=2){
    $set.slice(i, i+2).wrapAll("<ol class='bibliography'></ol>");
}
</script> 
{% include footer.html %}
</body>
</html>
