<!--
The website should work without any of the JS below. -F
-->

<!-- jQuery -->
<script src="{{site.baseurl}}/js/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
<!-- Plugin JavaScript -->
<!-- <script src="js/jquery.easing.min.js"></script> -->
<!-- Contact Form JavaScript -->
<!-- <script src="js/jqBootstrapValidation.js"></script> -->
<!-- <script src="js/contact_me.js"></script> -->
<!-- Custom Theme JavaScript -->
<!-- <script src="js/freelancer.min.js"></script> -->
<!-- JabRef (Toggling info on Publications Page) -->
<script src="{{site.baseurl}}/js/JabRef_QuickSearch.js"></script>
