---
title: Announcements
permalink: /aa274/announcements.html
group: "aa274_navigation"
order: 4
---
<!DOCTYPE html>
<html>
{% include aa274_head.html %}
<body id="page-top" class="index">
  {% include aa274_navbar.html %}
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Announcements</h1>
          <p>Announcements related to the course, homeworks, projects, logistics, etc will be posted here. Please check this page regularly for the latest announcements.</p>
        </div>
      </div>
<!--       <div class="row">
        <div class="col-md-12">
          <h5>01/03/19</h5>
          <p>The first lecture will be Monday January 7, 1:30 PM to 2:50 PM, in <a href="http://campus-map.stanford.edu/?srch=420-041">Building 420, Room 041</a></p>
        </div>
      </div>
 -->    </div>
  </header>
  {% include javascript.html %}
  {% include footer.html %}
</body>
</html>