---
title: Home
permalink: /aa274/
group: "aa274_navigation"
order: 1
---
<!DOCTYPE html>
<html>
{% include aa274_head.html %}
<body id="page-top" class="index">
  {% include aa274_navbar.html %}
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h4>   </h4>
          <h1>AA 274: Principles of Robotic Autonomy</h1>
          <h4>Winter 2019</h4>
        </div>
      </div>
      <div class="row text-center">
        <img id="aa274-banner-image" src="/img/aa274/banner-small.png">
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Course Description</h3>
          <p>This course will cover basic principles for endowing mobile autonomous robots with perception, planning, and decision-making capabilities. We will dive into algorithmic approaches for robot perception, localization, and simultaneous localization and mapping; control of non-linear systems, learning-based control, and robot motion planning; introduction to methodologies for reasoning under uncertainty, e.g., (partially observable) Markov decision processes. Throughout the course, we will make extensive use of the Robot Operating System (ROS) for demonstrations and hands-on activities. Prerequisite: CS 106A or equivalent.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h3>Instructor</h3>
          <table class="aa274_people">
            <tr>
              <th>
                <a href="http://web.stanford.edu/~pavone/"><img class="aa274_headshot" src="/img/aa274/people/Pavone.jpg"></a>
                <a href="http://web.stanford.edu/~pavone/">Prof. Marco Pavone</a>
              </th>
            </tr>
          </table>
        </div>
        <div class="col-md-9">
          <h3>Course Assistants</h3>
          <table class="aa274_people">
            <tr>
              <th>
                <a href="https://stanford.edu/~karenl7/"><img class="aa274_headshot" src="/img/aa274/people/KarenLeung.jpg"></a>
                <a href="https://stanford.edu/~karenl7/">Karen Leung</a>
              </th>
              <th>
                <a href="/people/apoorva-sharma/"><img class="aa274_headshot" src="/img/aa274/people/ApoorvaSharma.jpg"></a>
                <a href="/people/apoorva-sharma/">Apoorva Sharma</a>
              </th>
              <th>
                <img class="aa274_headshot" src="/img/aa274/people/Default.png">
                <p>Amine Elhafsi</p>
              </th>
              <th>
                <a href="https://www.chriswcovert.com/"><img class="aa274_headshot" src="/img/aa274/people/ChrisCovert.jpg"></a>
                <a href="https://www.chriswcovert.com/">Christopher Covert</a>
              </th>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Meeting Times</h3>
          <p>Lectures meet on Mondays and Wednesdays from 1:30 PM to 2:50 PM in <a href="http://campus-map.stanford.edu/?srch=420-041">Building 420, Room 041</a>.</p>
          <!-- <p>Tutorials will occur on FILL-INs from FILL-IN PM to FILL-IN PM in FILL-IN.</p> -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Syllabus</h3>
          <p>The class syllabus can be found <a href="/aa274/pdfs/Syllabus_AA274_2019.pdf">here</a></p>

        </div>
      </div>
    </div>
  </header>
  {% include javascript.html %}
  {% include footer.html %}
</body>
</html>