---
title: Project
permalink: /aa274/project.html
group: "aa274_navigation"
order: 3
---
<!DOCTYPE html>
<html>
{% include aa274_head.html %}
<body id="page-top" class="index">
  {% include aa274_navbar.html %}
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Course Project</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>Description</h3> 
          <p>The final project will be based on Autonomous Food Delivery! Look at <a href="https://docs.google.com/presentation/d/1wQ7LdluAxDpAFethT_MOE9ruqoOxfzORiN1giQc-iC0/edit?usp=sharing">this slide deck</a> details about the Final Project.
        
          In terms of logistics (e.g., using the robots, booking a time slot) refer to  <a href="https://docs.google.com/presentation/d/1lrvuUi14c9K5aDEIduBtr5M92Z28VJcn15Mud52gls0/edit?usp=sharing">this document</a>. The sign-up sheet, along with the robot/team details can be <a href="https://docs.google.com/spreadsheets/d/1XqVtdUDBXzeQyYXiddsOWzccT1WCfhCyTkoyhZa-B5o/edit#gid=1232930625">found here.</a> (Use Stanford login).</p> 
        </div>
      </div>
      
    </div>
  </header>
  {% include javascript.html %}
  {% include footer.html %}
</body>
</html>