---
title: Project
permalink: /aa274_win1819/project.html
group: "aa274_win1819_navigation"
order: 3
---
<!DOCTYPE html>
<html>
{% include aa274_win1819_head.html %}
<body id="page-top" class="index">
  {% include aa274_win1819_navbar.html %}
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Course Project</h1>
        </div>
      </div>
      <div class="row text-center">
        <img id="aa274-banner-image" src="/img/aa274_win1819/food_delivery.png">
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Description</h3> 
          <p>The final project will be based on Autonomous Food Delivery! You will be expected to (1) explore an unknown environment and locate all the food vendors around the city, then (2) given a food request from your hungry TAs, your robot will need to <strong>autonomously</strong> pick up the food and deliver it back to the home base. Look at <a href="https://docs.google.com/presentation/d/1wQ7LdluAxDpAFethT_MOE9ruqoOxfzORiN1giQc-iC0/edit?usp=sharing">this slide deck</a> for details about the deliverables, baselines, extensions and rubric.</p>
        
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>Logistics</h3> 
          <p>Information about using the Skilling room, using the TurtleBots, a quick start guide, running Gazebo simulations, and some general tips and advice can be found in <a href="https://docs.google.com/presentation/d/1lrvuUi14c9K5aDEIduBtr5M92Z28VJcn15Mud52gls0/edit?usp=sharing">this document</a>. </p>

          <p>The Skilling sign-up sheet, along with the robot/team details can be <a href="https://docs.google.com/spreadsheets/d/1XqVtdUDBXzeQyYXiddsOWzccT1WCfhCyTkoyhZa-B5o/edit#gid=1232930625">found here.</a></p>

          <p> Use your Stanford login to access the documents.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>Code (starting point)</h3> 
          <p>A starting point for your autonomy stack can be found in the <a href="https://github.com/StanfordASL/asl_turtlebot/tree/project">project branch</a> of the asl_turtlebot repo. This code is merely a starting point and is no means complete. Please read the README for brief descriptions and disclaimers about the code, and also the logistics slide deck for information about running the code on the robot. </p> 
        </div>
      </div>
      
    </div>
  </header>
  {% include javascript.html %}
  {% include footer.html %}
</body>
</html>