---
title: Homework
permalink: /aa203/assignments.html
group: "aa203_navigation"
order: 2
---
<!DOCTYPE html>
<html>
{% include aa203_head.html %}
<body id="page-top" class="index">
  {% include aa203_navbar.html %}
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Homework</h1>
        </div>
      </div>
      {% assign sorted_hwks = (site.aa203 | where:'md_group', "assignments" | sort: 'posted_date') | reverse %}
      {% for hwk in sorted_hwks %}
      <hr />
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-5">
              <h2 class="aa203-homework-title">Homework #{{ hwk.seq_number }}</h2>
            </div>
            <div class="col-md-3">
              <h4 class="aa203-homework-posted-date">Posted on {{ hwk.posted_date | date: "%B %e" }}</h4>
            </div>
            <div class="col-md-4">
              {% if hwk.due_date %}<h4 class="aa203-homework-due-date">Due at {{ hwk.due_date | date: "%l:%M%P on %B %e" }}</h4>{% endif %}
            </div>
          </div>
          <p>{{ hwk.content }}</p>
          <a href="{{ hwk.pdf_link }}">[pdf]</a> {% if hwk.code_link %}<a href="{{ hwk.code_link }}">[code]</a>{% endif %} {% if hwk.source_link %}<a href="{{ hwk.source_link }}">[tex]</a>{% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </header>
  {% include javascript.html %}
  {% include footer.html %}
</body>
</html>
