---
title: Home
permalink: /aa203/
group: "aa203_navigation"
order: 1
---
<!DOCTYPE html>
<html>
{% include aa203_head.html %}
<body id="page-top" class="index">
  {% include aa203_navbar.html %}
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h4>   </h4>
          <h1>AA 203: Optimal and Learning-Based Control</h1>
          <h4>Spring 2021</h4>
        </div>
      </div>
      <!-- <div class="row text-center">
        <img id="aa203-banner-image" src="/img/aa203/banner-small.png">
      </div> -->
      <div class="row">
        <div class="col-md-12">
          <h3>Course Description</h3>
          <p>Optimal control solution techniques for systems with known and unknown dynamics. Dynamic programming, Hamilton-Jacobi reachability, and direct and indirect methods for trajectory optimization. Introduction to model predictive control. Adaptive control, model-based and model-free reinforcement learning, and connections between modern reinforcement learning and fundamental optimal control ideas.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <h3>Instructors</h3>
          <table class="aa203_people">
            <tr>
              <th>
                <a href="/people/edward-schmerling/"><img class="aa203_headshot" src="/img/people/EdwardSchmerling.png"></a>
                <a href="/people/edward-schmerling/">Ed Schmerling</a>
              </th>
              <th>
                <a href="https://stanford.edu/~jh2/"><img class="aa203_headshot" src="/img/aa203/people/JamesHarrison.jpg"></a>
                <a href="https://stanford.edu/~jh2/">James Harrison</a>
              </th>
            </tr>
          </table>
        </div>
        <div class="col-md-5">
        </div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <h3>Course Assistants</h3>
          <table class="aa203_people">
            <tr>
              <th>
                <a href="/people/matt-tsao/"><img class="aa203_headshot" src="/img/people/MattTsao.jpg"></a>
                <a href="/people/matt-tsao/">Matt Tsao</a>
              </th>
              <th>
                <a href="/people/spencer-richards/"><img class="aa203_headshot" src="/img/people/SpencerRichards.jpg"></a>
                <a href="/people/spencer-richards/">Spencer M. Richards</a>
              </th>
            </tr>
          </table>
        </div>
        <div class="col-md-5">
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>Meeting Times</h3>
          <p>Lectures will be online; details of lecture recordings and office hours are available in the syllabus.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Syllabus</h3>
          <p>The class syllabus can be found <a href="/aa203/pdfs/AA203_Syllabus_2021.pdf">here</a>.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Schedule</h3>
          <p>Subject to change. Lecture notes are available <a href="https://github.com/StanfordASL/AA203-Notes">here</a>. We will try to have the lecture notes updated before the class.</p>
          <style type="text/css">
          .tg  {border-collapse:collapse;border-spacing:0;}
          .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
          .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
          .tg .tg-vnl4{font-family:"Trebuchet MS", Helvetica, sans-serif !important;;border-color:inherit;text-align:left;vertical-align:top}
          .tg .tg-2g2i{font-family:"Trebuchet MS", Helvetica, sans-serif !important;;border-color:inherit;text-align:center;vertical-align:top}
          </style>
          <table class="tg">
            <tr>
              <th class="tg-2g2i">Week</th>
              <th class="tg-vnl4">Topic</th>
              <th class="tg-vnl4">Lecture Slides</th>
            </tr>
            <tr>
              <td class="tg-2g2i">1</td>
              <td class="tg-vnl4">
              Introduction; Control, stability, and metrics
              <br>Introduction to learning; System identification and adaptive control
              </td>
              <td class="tg-vnl4">
              <a href="/aa203/pdfs/lecture/lecture_1.pdf">Lecture 1</a>;
              <a href="https://github.com/StanfordASL/AA203-Examples/tree/master/Lecture-1">Code</a>
              <br> <a href="/aa203/pdfs/lecture/lecture_2.pdf">Lecture 2</a>
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">2</td>
              <td class="tg-vnl4">
              Unconstrained optimization
              <br> Constrained optimization
              <br> Recitation: Convex optimization and optimization tools
              <br> Homework: Assignment 1 released
              </td>
              <td class="tg-vnl4">
              <a href="/aa203/pdfs/lecture/lectures_3_and_4.pdf">Lecture 3</a>;
              <a href="https://github.com/StanfordASL/AA203-Examples/tree/master/Lecture-3">Code</a>
              <br> <a href="/aa203/pdfs/lecture/lectures_3_and_4.pdf">Lecture 4</a>;
              <a href="https://github.com/StanfordASL/AA203-Examples/tree/master/Lecture-4">Code</a>
              <br> <a href="/aa203/pdfs/lecture/recitation_1.pdf">Recitation 1</a>
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">3</td>
              <td class="tg-vnl4">
              Dynamic programming, discrete LQR
              <br> Stochastic DP, value iteration, policy iteration
              <br> Recitation: Automatic differentiation and Jax
              <br> Project: Proposal due
              </td>
              <td class="tg-vnl4">
              <a href="/aa203/pdfs/lecture/lecture_5.pdf">Lecture 5</a>
              <br> <a href="/aa203/pdfs/lecture/lecture_6.pdf">Lecture 6</a>;
              <a href="https://docs.google.com/spreadsheets/d/1iH8bVbxrTb6tqpZVz26vhWp2rRB7f9h_WdHU4ceEnWI/edit?usp=sharing">Code</a>
              <br> <a href="/aa203/pdfs/lecture/recitation_2.pdf">Recitation 2</a>;
              <a href="https://github.com/StanfordASL/AA203-Examples/tree/master/Recitation-2">Code</a>
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">4</td>
              <td class="tg-vnl4">
              LQG, dual control, introduction to reinforcement learning
              <br>Nonlinearity; Tracking LQR, iterative LQR, DDP
              <br> Recitation: Regression models
              <br> Homework: Assignment 1 due
              <br> Homework: Assignment 2 released
              </td>
              <td class="tg-vnl4">
              <a href="/aa203/pdfs/lecture/lecture_7.pdf">Lecture 7</a>
              <br> <a href="/aa203/pdfs/lecture/lecture_8.pdf">Lecture 8</a>
              <br> <a href="/aa203/pdfs/lecture/recitation_3.pdf"> Recitation 3 </a>
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">5</td>
              <td class="tg-vnl4">
              Direct methods for optimal control; sequential convex programming
              <br>HJB, HJI, reachability analysis
              <br> Recitation: Training neural networks and PyTorch
              </td>
              <td class="tg-vnl4">
              <a href="/aa203/pdfs/lecture/lecture_9.pdf">Lecture 9</a>;
              <a href="https://github.com/StanfordASL/AA203-Examples/tree/master/Lecture-9">Code</a>
              <br> <a href="/aa203/pdfs/lecture/lecture_10.pdf">Lecture 10</a>;
              <a href="https://github.com/StanfordASL/AA203-Examples/tree/master/Lecture-10">Code</a>
              <br> <a href="https://github.com/StanfordASL/AA203-Examples/tree/master/Recitation-4">Recitation 4</a>
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">6</td>
              <td class="tg-vnl4">
              Intro to model predictive control
              <br>Feasibility and stability of MPC
              <br> Homework: Assignment 2 due
              <br> Project: Midterm report due
              </td>
              <td class="tg-vnl4">
                <a href="/aa203/pdfs/lecture/lecture_11.pdf">Lecture 11</a>
                <br> <a href="/aa203/pdfs/lecture/lecture_12.pdf">Lecture 12</a>
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">7</td>
              <td class="tg-vnl4">
              Adaptive and learning MPC
              <br> Model-based RL
              <br> Homework: Assignment 3 released
              </td>
              <td class="tg-vnl4">
                <a href="/aa203/pdfs/lecture/lecture_13.pdf">Lecture 13</a>
                <br> <a href="/aa203/pdfs/lecture/lecture_14.pdf">Lecture 14</a>
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">8</td>
              <td class="tg-vnl4">
              Model-free RL: policy gradient and actor critic
              <br> Model-based policy learning
              <td class="tg-vnl4">
                <a href="/aa203/pdfs/lecture/lecture_15.pdf">Lecture 15</a>
                <br> <a href="/aa203/pdfs/lecture/lectures_16_and_17.pdf">Lecture 16</a>
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">9</td>
              <td class="tg-vnl4">
              Model-based policy learning (cont.)
              <br> Calculus of variations
              <br> Homework: Assignment 3 due
              <br> Homework: Assignment 4 released
              <br> <span style="font-style:italic"></span>
              </td>
              <td class="tg-vnl4">
                <a href="/aa203/pdfs/lecture/lectures_16_and_17.pdf">Lecture 17</a>
                <br> <a href="/aa203/pdfs/lecture/lecture_18.pdf">Lecture 18</a>
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">10</td>
              <td class="tg-vnl4">
              Indirect methods for optimal control
              <br> Pontryagin's maximum principle, wrap up, recent work, and future directions
              <br> Homework: Assignment 4 due
              <br> Project: Video presentation and final report due
              </td>
              <td class="tg-vnl4">
                <a href="/aa203/pdfs/lecture/lecture_19.pdf">Lecture 19</a>;
                <a href="https://github.com/StanfordASL/AA203-Examples/tree/master/Lecture-19">Code</a>
              <br> <a href="/aa203/pdfs/lecture/lecture_20.pdf">Lecture 20</a>
              </td>
            </tr>

          </table>

        </div>
      </div>


    </div>
  </header>
  {% include javascript.html %}
  {% include footer.html %}
</body>
</html>
