---
title: Project
permalink: /aa203/project.html
group: "aa203_navigation"
order: 3
---
<!DOCTYPE html>
<html>
{% include aa203_head.html %}
<body id="page-top" class="index">
  {% include aa203_navbar.html %}
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Course Project</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>The project guidelines are available <a href="/aa203/pdfs/Project_guidelines.pdf">here</a>.
          </p>
        
        </div>
      </div>      
    </div>
  </header>
  {% include javascript.html %}
  {% include footer.html %}
</body>
</html>
