---
title: {{site.title}}
group: "navigation"
---
<!DOCTYPE html>
<html>
{% include head.html %}
{% include relBase.html %}
<body id="page-top" class="index">
  {% include navbar.html %}
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <!--<img src={{site.url}}{{site.baseurl}}/img/GreatLeaderC.svg alt="Chairman Marco">-->
          <div id="carousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol id="carouselDots" class="carousel-indicators">
              {% assign slide_count = 0 %}
              {% for slide in site.slides %}
              {% if slide_count == 0 %}
              <li data-target="#carousel" data-slide-to="{{slide_count}}" class="active"></li>
              {% else %}
              <li data-target="#carousel" data-slide-to="{{slide_count}}"></li>
              {% endif %}
              {% assign slide_count = slide_count | plus: 1 %}
              {% endfor %}
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              {% assign slide_count = 0 %}
              {% for slide in site.slides %}
              {% if slide_count == 0 %}
              <div class="item active">
              {% else %}
              <div class="item">
              {% endif %}
                <img src="{{ relBase }}{{slide.imgurl}}{{slide.img}}" alt="{{slide.alt_text}}">
                <div id="carouselText" class="carousel-caption">
                  {{slide.alt_text}}
                </div>
              </div>
                {% assign slide_count = slide_count | plus: 1 %}
                {% endfor %}

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#carousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
          </div>
          <h1 id='title'>Welcome to the Autonomous Systems Lab!</h1>
          <p>The Autonomous Systems Lab (ASL) develops methodologies for the analysis, design, and control of autonomous systems, with a particular emphasis on large-scale robotic networks and autonomous aerospace vehicles. The lab combines expertise from control theory, robotics, optimization, and operations research to develop the theoretical foundations for networked autonomous systems operating in uncertain, rapidly-changing, and potentially adversarial environments.</p>
        </div>

            <div class="col-md-4 twitter-feed">
              <a class="twitter-timeline" data-height="600" data-dnt="true" href="https://twitter.com/StanfordASL?ref_src=twsrc%5Etfw">Tweets by StanfordASL</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
            </div>
          </div>
        </div>
      </header>
      {% include javascript.html %}
      {% include footer.html %}
    </body>
    </html>